.col {
    margin: auto;
    height: 20%;
}

.col2 {
    width: 100px;
    height: 30%;
    background-color: red;
}

.col3 {
    width: auto;
    height: 450px;
    float: left;
    font-family: arial;
    font-style: italic;
    text-align: center;
    background-color: #D1BBFF;
}

.col4 {
    boxsizing: border box;
    float: left;
    width: 450px;
    height: 30%;
    background-color: yellow;
}

.col5 {
    boxsizing: border box;
    float: left;
    width: 100px;
    height: 30%;
    background-color: blue;
}
